:host {
  display: block;
  padding: 16px;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}
