<div class="modal-wrapper">
  <div class="modal-content">
    <div class="modal-header">
      <span class="title">
        <ng-container *ngIf="isNewUser">Create new user</ng-container>
        <ng-container *ngIf="!isNewUser">
          {{ user?.firstName }} {{ user?.lastName }}
        </ng-container>
      </span>
      <button class="close-btn" (click)="closeModal()"></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="userForm">
        <div class="row-label-value">
          <label class="row-label">Username<span>*</span></label>
          <input
            class="row-value"
            type="text"
            name="username"
            formControlName="username"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('username')?.touched ||
                userForm.get('username')?.dirty) &&
              userForm.get('username')?.invalid
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('username')?.hasError('required')"
          >
            This field is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('username')?.hasError('unique')"
          >
            Username must be unique
          </div>
        </div>
        <div class="row-label-value">
          <label class="row-label">First name<span>*</span></label>
          <input
            class="row-value"
            type="text"
            formControlName="firstName"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('firstName')?.touched ||
                userForm.get('firstName')?.dirty) &&
              userForm.get('firstName')?.invalid
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('firstName')?.hasError('required')"
          >
            This field is required
          </div>
        </div>
        <div class="row-label-value">
          <label class="row-label">Last name<span>*</span></label>
          <input
            class="row-value"
            type="text"
            formControlName="lastName"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('lastName')?.touched ||
                userForm.get('lastName')?.dirty) &&
              userForm.get('lastName')?.invalid
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('lastName')?.hasError('required')"
          >
            This field is required
          </div>
        </div>
        <div class="row-label-value">
          <label class="row-label">Email<span>*</span></label>
          <div
            class="row-value-email"
            [class.is-invalid]="
              (userForm.get('email')?.touched ||
                userForm.get('email')?.dirty) &&
              userForm.get('email')?.invalid
            "
          >
            <svg
              class="email-icon"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 512 512"
            >
              <path
                d="M320 254.27c-4.5 51-40.12 80-80.55 80s-67.34-35.82-63.45-80 37.12-80 77.55-80 70.33 36 66.45 80z"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
              <path
                d="M319.77 415.77c-28.56 12-47.28 14.5-79.28 14.5-97.2 0-169-78.8-160.49-176s94.31-176 191.51-176C381 78.27 441.19 150 432.73 246c-6.31 71.67-52.11 92.32-76.09 88.07-22.56-4-41.18-24.42-37.74-63.5l8.48-96.25"
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="32"
              />
            </svg>
            <input
              type="email"
              formControlName="email"
              autocomplete="off"
              spellcheck="false"
            />
          </div>
          <div class="invalid-feedback">
            <ng-container *ngIf="userForm.get('email')?.hasError('required')">
              This field is required
            </ng-container>
            <ng-container *ngIf="userForm.get('email')?.hasError('email')">
              Email must be correct
            </ng-container>
          </div>
        </div>
        <div class="row-label-value">
          <label class="row-label">Type<span>*</span></label>
          <select
            class="row-value"
            type="text"
            formControlName="userType"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('userType')?.touched ||
                userForm.get('userType')?.dirty) &&
              userForm.get('userType')?.invalid
            "
          >
            <option *ngFor="let value of userTypeList" [value]="value">
              {{ value }}
            </option>
          </select>
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('userType')?.hasError('required')"
          >
            This field is required
          </div>
        </div>
        <div class="row-label-value row-password">
          <label class="row-label">Password<span>*</span></label>
          <input
            class="row-value"
            type="password"
            formControlName="password"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('password')?.touched ||
                userForm.get('password')?.dirty) &&
              userForm.get('password')?.invalid
            "
          />
          <div class="invalid-feedback">
            <ng-container
              *ngIf="userForm.get('password')?.hasError('required')"
            >
              This field is required
            </ng-container>
            <ng-container
              *ngIf="userForm.get('password')?.hasError('minlength')"
            >
              Password must be at least 8 characters long
            </ng-container>
            <div
              *ngIf="
                userForm.get('password')?.hasError('minOneNumber') ||
                userForm.get('password')?.hasError('minOneLetter')
              "
            >
              Password must have at least one number and one letter
            </div>
          </div>
        </div>
        <div class="row-label-value">
          <label class="row-label">Repeat password<span>*</span></label>
          <input
            class="row-value"
            type="password"
            formControlName="confirmPassword"
            autocomplete="off"
            spellcheck="false"
            [class.is-invalid]="
              (userForm.get('confirmPassword')?.touched ||
                userForm.get('confirmPassword')?.dirty) &&
              userForm.get('confirmPassword')?.invalid
            "
          />
          <div
            class="invalid-feedback"
            *ngIf="userForm.get('confirmPassword')?.hasError('required')"
          >
            This field is required
          </div>
          <div
            class="invalid-feedback"
            *ngIf="
              userForm.get('confirmPassword')?.hasError('passwordMismatch')
            "
          >
            Passwords must match
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button *ngIf="isNewUser" class="button bg-blue" (click)="createUser()">
        Create
      </button>
      <ng-container *ngIf="!isNewUser">
        <button class="button bg-red button-delete" (click)="deleteUser()">
          Delete
        </button>
        <button class="button bg-blue" (click)="saveChanges()">Save</button>
      </ng-container>
    </div>
  </div>
</div>
<div class="fade-background" (click)="closeModal()"></div>
