<table>
  <thead>
    <tr>
      <th class="col-header col-username">Username</th>
      <th class="col-header col-first-name">First name</th>
      <th class="col-header col-last-name">Last name</th>
      <th class="col-header col-email">Email</th>
      <th class="col-header col-user-type">Type</th>
    </tr>
  </thead>
  <tbody>
    <tr
      class="row"
      *ngFor="let user of users$ | async; trackBy: trackByFn"
      (click)="selectUser(user)"
    >
      <td class="col-username">{{ user.username }}</td>
      <td class="col-first-name text-capitalize">{{ user.firstName }}</td>
      <td class="col-last-name text-capitalize">{{ user.lastName }}</td>
      <td class="col-email">{{ user.email }}</td>
      <td class="col-user-type text-capitalize">{{ user.userType }}</td>
    </tr>
  </tbody>
</table>
